.my_button {
  background: #01baef;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.3px;
}

.my_button:hover {
  background: #01aada;
  text-decoration: none;
  color: white;
}
