.card {
  height: 200px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1;
}
.card-description {
  position: absolute;
  bottom: 16px;
  left: 16px;
  letter-spacing: 1;
}
.card-description h2 {
  font-size: 28px;
  letter-spacing: 1;
  font-family: "Lato";
}
.card-description p {
  font-size: 16px;
  opacity: 0.8;
  font-weight: lighter;
  letter-spacing: 1;
}

.rating {
  opacity: 1;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
