// #home {
//   background-color: #D23333;
//   color: white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: rgba(0,0,0,0.4);
//     font-weight: bold;
//     font-size: 16px;
//   }
// }

#home {
  background-color: #FAFAFF !important;
}

.banner {
  height: 100vh;
  background: linear-gradient(45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%), url('../../images/travel.jpg');
  background-size: cover;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.banner p {
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 65px;
  margin-bottom: 35px;
  letter-spacing:20px;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
}

.home-flats {
  padding: 60px;
  background-color: #fefefe;
  width: 100%;
}

#recent-flats {
  font-family: "Lato", sans-serif;
  padding-bottom: 10px;
  font-size: 30px;
}


